@font-face {
    font-family: PNR;
    src: url('../fonts/ProximaNova-Regular.woff');
}

body, div, main, section, h1, h2, h3, h4, h5, h6, p, ul, input, form, textarea {
    margin: 0;
    padding: 0;
    font-family: PNR, Consolas, sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}